@import '../css/font.css';
@import '../css/reset.min.css';
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Work+Sans&display=swap');

@import 'base/variables';
@import 'base/mixins';

* {
    margin: 0;
    padding: 0;
    border: 0;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}