@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import '../css/font.css';
@import '../css/reset.min.css';
@import 'base/variables';
@import 'base/mixins';

* {
    font-family: 'Poppins', sans-serif;

    margin: 0;
    padding: 0;
    border: 0;

    box-sizing: border-box;
}

.container {
    max-width: 1360px;
    margin: 0 auto;
}

.devider {
    margin: 40px 0;
    height: 2px;
    width: 100%;
    background: #FFFFFF;
}

@import 'blocks/header.scss';
@import 'blocks/promo.scss';
@import 'blocks/info.scss';
@import 'blocks/what-we';
@import 'blocks/title';
@import 'blocks/subtitle';
@import 'blocks/description';
@import 'blocks/button';
@import 'blocks/sunset';
@import 'blocks/gear';
@import 'blocks/monstera';
@import 'blocks/clients';
@import 'blocks/star';
@import 'blocks/help';
@import 'blocks/footer';
@import 'blocks/text';