.button {
    position: relative;
    height: 42px;
    width: 143px;
    background: #FFFFFF;
    border-radius: 14px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 0 15px;
    text-align: end;
    cursor: pointer;
    transition: all .5s ease;
    &::before {
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background: url(../../icons/Aperture-Icon-Dark.svg) no-repeat center;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
    &:hover {
        background: #C0C0C0;
    }
    &_main {
        width: 155px;
        height: 42px;
        text-align: center;
        &::before {
            background: none;
        }
    }
    &_big {
        width: 152px;
    }
    &_email {
        width: 63px;
        height: 30px;
        background: #000000;
        border-radius: 11px;
        &::before {
            background: url(../../icons/Aperture-Icon-Light.svg) no-repeat center;
            left: 23px;
        }
    }
}