.button {
    position: relative;
    height: 42px;
    width: 143px;
    background: #FFFFFF;
    border-radius: 14px;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.4px;
    color: #000000;
    padding: 0 15px;
    text-align: end;
    &::before{
        content: '';
        position: absolute;
        width: 16px;
        height: 16px;
        background: url(../../icons/Aperture-Icon-Dark.svg) no-repeat center;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
    }
}