.clients {
    background-color: #000000;
    padding: 113px 0 140px 0;
    &__subtitle {
        margin-top: 15px;
    }
    &__wrapper {
        margin-top: 80px;
    }
    &__item {
        height: 78px;
        width: 128px;
        img {
            height: 100%;
            width: 100%;
        }
    }
}