.monstera {
    padding: 260px 0;
    background: url(../../img/Leafs.jpg) center (top/cover) no-repeat;
    background-attachment: fixed;
    position: relative;
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &__content {
        width: 300px;
    }
}