.star {
    padding: 250px 0;
    background: url(../../img/Stars.jpg) center (bottom/cover) no-repeat;
    background-attachment: fixed;
    position: relative;
    &__wrapper {
        width: 100%;
        display: flex;
        justify-content: flex-end;
    }
    &__content {
        width: 300px;
    }
}