.what-we {
    padding: 113px 0 100px 0;
    background-color: #000000;
    &__subtitle {
        margin-top: 15px;
    }
    &__wrapper {
        margin-top: 42px;
        display: grid;
        grid-template: repeat(2, 600px) / repeat(2, 576px);
        justify-content: center;
        gap: 16px 16px;
    }
    &__item {
        position: relative;
    }
    &__content {
        position: absolute;
        bottom: 30px;
        left: 30px;
    }
    &__description {
        margin-top: 10px;
    }
    &__button {
        margin-top: 17px;
    }
}