.what-we {
    padding: 113px 0 100px 0;
    background-color: #000000;
    &__subtitle {
        margin-top: 15px;
    }
    &__wrapper {
        margin-top: 42px;
        display: grid;
        grid-template: repeat(2, 600px) / repeat(auto-fill, 576px);
        justify-content: center;
        grid-auto-rows: minmax(600px,auto);
        gap: 16px 16px;
    }
    &__item {
        --x: 0;
        --y: 0;
        --d: 50;
        position: relative;
        overflow: hidden;
        &:hover {
            --d: 20;     
            &::after, img {
                transform: translate(calc(var(--x) / var(--d) * 1px), calc(var(--y) / var(--d) * 1px));
            }
        }
    }
    &__img {
        width: 110%;
        object-fit: cover;
        position: absolute;
        top: -5%;
        left: -5%;
        transition: transform 0.4s cubic-bezier(.23,.44,.29,.9);
    }
    &__content {
        position: absolute;
        width: 516px;
        bottom: 30px;
        left: 30px;
    }
    &__description {
        margin-top: 10px;
    }
    &__button {
        margin-top: 17px;
    }
}